--Build started...
--Build succeeded.
CREATE TABLE IF NOT EXISTS `__EFMigrationsHistory` (
    `MigrationId` varchar(150) CHARACTER SET utf8mb4 NOT NULL,
    `ProductVersion` varchar(32) CHARACTER SET utf8mb4 NOT NULL,
    CONSTRAINT `PK___EFMigrationsHistory` PRIMARY KEY (`MigrationId`)
) CHARACTER SET=utf8mb4;

START TRANSACTION;

ALTER DATABASE CHARACTER SET utf8mb4;

CREATE TABLE `AIResponse` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `company` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `coverletter` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `missing_requirements` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `reason` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `matched` tinyint(1) NOT NULL,
    `job_requirements` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `jobtitle` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `applied` tinyint(1) NULL,
    `pre` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    CONSTRAINT `PK_AIResponse` PRIMARY KEY (`Id`)
) CHARACTER SET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;

CREATE TABLE `JobObjects` (
    `id` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NOT NULL,
    `CompanyName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `CompanyUrl` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `CompanyLinkedIn` varchar(2500) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `JobPost` varchar(1500) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `AIResponseId` int NOT NULL,
    `JobPostUrl` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `Coverletter` varchar(2500) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `MissingRequirements` varchar(1500) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `Reason` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `Matched` tinyint(1) NOT NULL,
    `JobRequirements` varchar(1500) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `Applied` tinyint(1) NOT NULL,
    `JobFile` blob NULL,
    `ResumeFile` blob NULL,
    `JobType` varchar(1500) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `JobLocation` varchar(1500) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `SalaryRange` varchar(1500) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `When` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `Where` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    `HTML` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NOT NULL,
    `Text` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NOT NULL,
    `HTMLFileName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NULL,
    CONSTRAINT `PK_JobObjects` PRIMARY KEY (`id`),
    CONSTRAINT `FK_JobObjects_AIResponse_AIResponseId` FOREIGN KEY (`AIResponseId`) REFERENCES `AIResponse` (`Id`) ON DELETE CASCADE
) CHARACTER SET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;

CREATE INDEX `IX_JobObjects_AIResponseId` ON `JobObjects` (`AIResponseId`);

INSERT INTO `__EFMigrationsHistory` (`MigrationId`, `ProductVersion`)
VALUES ('20260306143936_init', '8.0.0');

COMMIT;


